body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 15px;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.envelope img {
  width: 100%;
  cursor: pointer;
}

.message {
  margin-top: 20px;
}

.hidden {
  display: none;
}
